<h2>{{ titulo }}</h2>
<form action="{% url 'encuesta:enviar' %}" method="post">
    {% csrf_token %}
    Nombre:
    <input type="text" name="nombre" maxlength="50"><br>
    Contraseña:
    <input type="password" name="password"><br>
    Education:
    <select name="educacion">
        <option value="sin-estudios">Sin estudios</option>
        <option value="educacion-obligatorio" selected="selected">Educación Obligatoria</option>
        <option value="formacion-profesional">Formación Profesional</option>
        <option value="universidad">Universidad</option>
    </select> <br>
    Nacionalidad:
    <input type="radio" name="nacionalidad" value="hispana">Hispana</input>
    <input type="radio" name="nacionalidad" value="otra">Otra</input><br>
    Idiomas:
    <input type="checkbox" name="idiomas" value="español" checked="checked">Español</input>
    <input type="checkbox" name="idiomas" value="ingles">Inglés</input>
    <input type="checkbox" name="idiomas" value="frances">Frances</input>
    <input type="checkbox" name="idiomas" value="aleman">Alemán</input><br>
    Email:
    <input tpye="text" name="email"><br>
    Sitio Web:
    <input type="text" name="sitioweb"><br>
    // Boton de enviar
    <input type="submit" name="submit" value="Enviar">
</form>